/* Cambia el color de fondo del sidebar */
/*.bg-gray-50 {
    background-color: #33cb5c !important; /* Verde claro */
//}

//.dark:bg-gray-800 {
 //   background-color: #33cb5c !important; /* Verde claro */
//}

/* Cambia el color de hover en el sidebar */
//.hover:bg-gray-100:hover {
  //  background-color: #33cb5c !important; /* Verde claro */
//}

//.dark:hover:bg-gray-700:hover {
  //  background-color: #33cb5c !important; /* Verde claro */
//}*
/* Cambia el color de fondo de la barra de navegación superior */
.navbar-bg-blue {
    background-color: #3c70e9 !important; /* Azul claro */
}

/* Cambia el color de hover de los elementos en la barra de navegación */
.navbar-hover-bg-blue:hover {
    background-color: #3c70e9 !important; /* Azul más oscuro para hover */
}


/* Cambia el color de fondo del sidebar a azul claro */
.bg-gray-50 {
    background-color: #3c70e9 !important; /* Azul claro */
}

.dark:bg-gray-800 {
    background-color: #3c70e9!important; /* Azul claro */
}

/* Cambia el color de hover en el sidebar */
.hover:bg-gray-100:hover {
    background-color: #3c70e9!important; /* Azul claro */
}

.dark:hover:bg-gray-700:hover {
    background-color: #3c70e9!important; /* Azul claro */
}
